/* Solo para testear */
body{background-color:steelblue}

/* Para la scrollbar UwU */
::-webkit-scrollbar{
    width: 16px;
    background-color: transparent;
}
::-webkit-scrollbar-track{
    -webkit-box: transparent;
    -Moz-border-radius-bottomRight: 100px;
    border-bottom-right-radius: 100px;
    -Moz-border-radius-topLeft: 100px;
    border-top-left-radius: 100px;
    background-color: #00000000;
}
::-webkit-scrollbar-track:hover{
    background-color: transparent;
}
::-webkit-scrollbar-track:active{
    background-color: #555555;
}
::-webkit-scrollbar-thumb{
    background: #434343a9;
    -Moz-border-radius-bottomRight: 100px;
    border-bottom-right-radius: 100px;
    -Moz-border-radius-topLeft: 100px;
    border-top-left-radius: 100px;
    box-shadow:inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
::-webkit-scrollbar-thumb:hover{
    box-shadow:inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
    background-color: rgba(138, 138, 138, 0.89);
}
::-webkit-scrollbar-thumb:active{
    box-shadow:inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
    background-image: -webkit-linear-gradient(180deg,transparent,rgb(255, 255, 255) 100%, transparent);
    background-color: rgb(207, 207, 207);
}
/*FINAL DE LA SCROLLBAR xd*/
/*
    Saludos, WOLDEV.
*/

